<h2>Preliminary Due Diligence - <em>Seller provides documentation that substantiates their answers in the previous section.</em></h2>
<table>
	<tr>
		<th>ABC Mandatory Transaction Criteria</th>
		<th>XYZ Declaration</th>
		<th>ABC Substantiation</th>
		<th>ABC Comments</th>
	</tr>
	<tr>
		<td>Company Type: </td>
		<td><%= check_box_tag 'seller_company_type', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_company_type', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 1' %></td>
	</tr>
	<tr>
		<td>Complementary Company: </td>
		<td><%= check_box_tag 'seller_complementary_company', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_complementary_company', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 2' %></td>
	</tr>
	<tr>
		<td>Executive Team: </td>
		<td><%= check_box_tag 'seller_executive_team', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_executive_team', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 3' %></td>
	</tr>
	<tr>
		<td>Headcount: </td>
		<td><%= check_box_tag 'seller_headcount', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_headcount', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 4' %></td>
	</tr>
	<tr>
		<td>Development Environment: </td>
		<td><%= check_box_tag 'seller_development_environment', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_development_environment', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 5' %></td>
	</tr>
	<tr>
		<td>Financial Statements: </td>
		<td><%= check_box_tag 'seller_financial_statements', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_financial_statements', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 6' %></td>
	</tr>
	<tr>
		<td>Pricing Model: </td>
		<td><%= check_box_tag 'seller_pricing_model', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_pricing_model', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 7' %></td>
	</tr>
	<tr>
		<td>Revenue: </td>
		<td><%= check_box_tag 'seller_revenue', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_revenue', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 8' %></td>
	</tr>
	<tr>
		<td>EBITDA: </td>
		<td><%= check_box_tag 'seller_EBITDA', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_EBITDA', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 9' %></td>
	</tr>
	<tr>
		<td>Liquid Assets: </td>
		<td><%= check_box_tag 'seller_liquid_assets', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_liquid_assets', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 10' %></td>
	</tr>
	<tr>
		<td>Revenue Mix: </td>
		<td><%= check_box_tag 'seller_revenue_mix', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_revenue_mix', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 11' %></td>
	</tr>
	<tr>
		<td>Recurring Revenue: </td>
		<td><%= check_box_tag 'seller_recurring_revenue', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_recurring_revenue', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 12' %></td>
	</tr>
	<tr>
		<td>Organic Growth: </td>
		<td><%= check_box_tag 'seller_organic_growth', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_organic_growth', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 13' %></td>
	</tr>
	<tr>
		<td>Headquarters Office Location: </td>
		<td><%= check_box_tag 'seller_headquarters_office_location', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_headquarters_office_location', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 14' %></td>
	</tr>
	<tr>
		<td>Ownership: </td>
		<td><%= check_box_tag 'seller_ownership', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_ownership', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 15' %></td>
	</tr>
	<tr>
		<td>Years in Business: </td>
		<td><%= check_box_tag 'seller_years_in_business', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_years_in_business', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 16' %></td>
	</tr>
	<tr>
		<td>Legal Status: </td>
		<td><%= check_box_tag 'seller_legal_status', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_legal_status', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 17' %></td>
	</tr>
	<tr>
		<td>Sector/Industry Leadership: </td>
		<td><%= check_box_tag 'seller_sector_industry_leadership', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_sector_industry_leadership', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 18' %></td>
	</tr>
	<tr>
		<td>Niche: </td>
		<td><%= check_box_tag 'seller_niche', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_niche', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 19' %></td>
	</tr>
	<tr>
		<td>Customer Locations: </td>
		<td><%= check_box_tag 'seller_customer_locations', 'yes', true %></td>
		<td><%= check_box_tag 'buyer_customer_locations', 'yes', true %></td>
		<td><%= label_tag 'Seller Reference Doc(s) 20' %></td>
	</tr>
</table>

<%= tag("br", nil, true) %>

<%= link_to "Initial Valuation", "/demo/initial-valuation" %>