<p><%= label_tag('Company Type:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Software Product Company"></input></p>
<p><%= label_tag('Complementary Company:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Integrated with iMIS"></input></p>
<p><%= label_tag('Executive Team:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Key Leaders Together for 3+ Years"></input></p>
<p><%= label_tag('Headcount:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Number of Full-Time Employees &lt; 100"></input></p>
<p><%= label_tag('Development Environment:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Microsoft .NET-SQL Server or LAMP"></input></p>
<p><%= label_tag('Financial Statements:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Audited or Reviewed"></input></p>
<p><%= label_tag('Pricing Model:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="SaaS Subscription or License/Product Maintenance"></input></p>
<p><%= label_tag('Revenue:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="EOY Revenue Dollars $250K - $2M"></input></p>
<p><%= label_tag('EBITDA:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="EOY EBITDA Dollars $10K+"></input></p>
<p><%= label_tag('Liquid Assets:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Cash on Hand &gt; $10K"></input></p>
<p><%= label_tag('Revenue Mix:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="EOY Product-to-Service Ratio &gt; 50%/50%"></input></p>
<p><%= label_tag('Recurring Revenue:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="EOY Recurring Revenue Percent &gt; 60%"></input></p>
<p><%= label_tag('Organic Growth:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Last Three Years Organic Growth Percentage Average &gt; 10%"></input></p>
<p><%= label_tag('Headquarters Office Location:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="USA East Coast"></input></p>
<p><%= label_tag('Ownership:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Privately Held Corporation with No Institutional Investors"></input></p>
<p><%= label_tag('Years in Business:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="&gt; 5 Years"></input></p>
<p><%= label_tag('Legal Status:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Private C-Corporation, S-Corporation, or LLC"></input></p>
<p><%= label_tag('Sector/Industry Leadership:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Market Share Leader in Number of Customers"></input></p>
<p><%= label_tag('Niche:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Primary Customer Base is Not-For-Profit (NFP) Sector"></input></p>
<p><%= label_tag('Customer Locations:', nil, :class => 'aligned_label') %>
	<input type="text" class="wide_input" value="Base in USA"></input></p>