<h2>Deal Team Identification - <em>Who are the Buyers? Who are the Sellers?</em></h2>
<h3>Buyer</h3>
<p>ABC</p>

<h3>Transaction Analysis - <em>What is the Buyers Enterprise Focus? What is the reason/purpose for the transaction?</em></h3>
<div style="margin-left:40px">
	<strong><%= label_tag 'Enterprise Focus:' %></strong>
	<p>IT Entity - Application Software Products</p>
	<p>ABC is the market leading enterprise software company in the not-for-profit (NFP) sector.</p>
	<strong><%= label_tag 'Transaction Purpose:' %></strong>
	<p>Strategic-Acquisition</p>
	<p>ABC is looking to increase it's inorganic growth by acquiring complementary third-party software companies.</p>
</div>
<%= link_to "Mandatory Transaction Criteria", "/demo/buyer-qualification" %>

<%= tag("br", nil, true) %>

<br>

<h3>Seller</h3>
<p>XYZ</p>

<h3>Screening - <em>What are the Sellers core competencies? What does the Seller specialize in?</em></h3>
<div style="margin-left:40px">
	<strong><%= label_tag 'Core Competencies:' %></strong>
	<p>Advertising Management Software</p>
	<p>Media Industry</p>
	<strong><%= label_tag 'Specialization Area:' %></strong>
	<p>Only Module in NFP Space with Functionality</p>
	<p>iMIS Bridge</p>
	<p>50+ iMIS Customers</p>
</div>
<%= link_to "Compliance Decleration", "/demo/seller-qualification" %>
