<h2>Buyer</h2>
<p>ABC</p>
<strong><%= label_tag 'Enterprise Focus:' %></strong>
<p>IT Entity - Application Software Products</p>
<strong><%= label_tag 'Transaction Purpose:' %></strong>
<p>Strategic-Acquisition</p>
<p>ABC is looking to increase it's inorganic growth by acquiring complementary third-party software companies.</p>
<%= link_to "Mandatory Transaction Criteria", "/demo/buyer-qualification" %>

<%= tag("br", nil, true) %>

<h2>Seller</h2>
<p>XYZ</p>
<strong><%= label_tag 'Core Compentencies:' %></strong>
<p>Advertising Management Software</p>
<p>Media Industry</p>
<strong><%= label_tag 'Specialization Area:' %></strong>
<p>Only Module in NFP Space with Functionality</p>
<p>iMIS Bridge</p>
<p>50+ iMIS Customers</p>
<%= link_to "Compliance Decleration", "/demo/seller-qualification" %>