<!DOCTYPE html>
<html>
<head>
  <title>DiliVer</title>
  <%#= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<%= image_tag("/images/logo-without-dimensions.png") %>
		<div class="user_info">
			<div class="user_name">
				<p>Deal Team Member: Joe Smith | <a href=#>Logout</a></p>
			</div>
			<div class="user_title">
				<p>Buyer ABC Director of Corporate Development</p>
			</div>
		</div>
	</div>
	<div class="toolbar">
		<div class="toolbar_contents">
			<a href="#" class="button arrow_down left"><span class="button_icon"></span></a>
			<a href="#" class="button gear left"><span class="button_icon"></span></a>
		</div>
	</div>
	<div class="nav_container">
		<ul>
			<% @page_state[:timeline].each{|button|%> <li><a href='<%= button[:url] %>' <%if button[:is_active]%>class="nav_active"<%end%>><span <% if button[:is_current]%>class="nav_current"<%end%>></span><%= button[:title] %></a></li> <% } if @page_state && @page_state[:timeline] %>
		</ul>
	</div>
	<hr>

	<!-- Specific page content goes here -->
	<div class="content">
		<%= yield %>
	</div>
	<!-- Specific page content ends here -->

	<div class="footer">
		<div class="copyright">
			DiliVer LLC &#169; 2013
		</div>
		<div class="footer_toolbar">
			<div class="footer_toolbar_contents">
				<p>Current Stage</p>
				<% if @page_state && @page_state[:next_button]%>
					<a href="<%= @page_state[:next_button][0][:url]%>" class="button arrow_right right"><span class="button_content"><%= @page_state[:next_button][0][:title]%></span><span class="button_icon"></span></a>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>
